article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

body {
    font-size: 100% !important;
    min-height: 100%;
    background-color: #0b4668;
}

hr {
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 13px;
    line-height: 19px;
}

/* Color Box fixes - general */
#colorbox, #cboxLoadedContent, #cboxContent {
    box-sizing: content-box;
}


/* Grid fixes - general */
.large-9 {
    float: right !important;
}

.large-3 {
    float: left !important;
}

.wrapper {
   max-width: 60.9rem;
margin: 0 auto;
background: white;
}

/* Flat Buttons */
.button, .arrow-button {
    border-top: 1px solid #700103;
    border-radius: 3px;
    background: #c91b1d;
    padding: 10px 20px;
    color: white;
    font: normal 15px/17px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

.button:hover, .arrow-button:hover {
    background: #920b0c;
    color: white;
}

.button:active, .arrow-button:active {
    background: #920b0c;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
}

.button:visited, .arrow-button:visited {
    color: white;
}

 
/* Nav styles - general */
.navigation_sidebar_widget {
    font-size: 12px;
}

.navigation_sidebar_widget,
.navigation_sidebar_widget ul ul ul {
    border: 0;
}

.navigation_sidebar_widget ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navigation_sidebar_widget ul  ul {
    background-color: #E0F1FF;
}

.navigation_sidebar_widget > ul > li {
    margin: 0 0 2px;
}

.navigation_sidebar_widget a {
    display: block;
    color: #565656;
    text-decoration: none;
    background-repeat: no-repeat;
    font-weight: bold;
}

.navigation_sidebar_widget a:hover,
.navigation_sidebar_widget a.ancestor,
.navigation_sidebar_widget > ul > li.active.expanded > a,
.navigation_sidebar_widget > ul > li > a.active {
    text-decoration: none;
    background-color: #0464B0;
    color: #ffffff;
}

.navigation_sidebar_widget a.active {
    font-weight: bold;
}
/* Nav styles - first level */
.navigation_sidebar_widget > ul > li > a {
    background-color: #E0E0E0;
    padding: 8px 5px 6px 22px;
    background-position: 10px 11px;
}

.navigation_sidebar_widget > ul > li > a.last {
    border-bottom: 0;
}

.navigation_sidebar_widget > ul > li > a.children {
    background-image: url('/core/images/templates/gray-blocks/nav-arrow-r-dark.gif');
}

.navigation_sidebar_widget > ul > li > a.children:hover {
    background-image: url('/core/images/templates/gray-blocks/nav-top-arrow-r.gif');
}

.navigation_sidebar_widget > ul > li > a.children.expanded {
    background-image: url('/core/images/templates/gray-blocks/nav-top-arrow-d.gif');
    background-position: 8px 13px;
}
/* Nav styles - second level and beyond */
.navigation_sidebar_widget ul ul a {
    font-weight: normal;
}

.navigation_sidebar_widget ul ul a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #505050;
}

.navigation_sidebar_widget > ul > li > ul a {
    color: #505050;
}

.navigation_sidebar_widget ul > li > ul a.ancestor {
    background-color: #e0f1ff;
    color: #393637;
}

.navigation_sidebar_widget > ul > li > ul a.active {
    font-weight: bold;
    background-position: 17px 10px;
}

.navigation_sidebar_widget > ul > li > ul a.children {
    background-image: url('/core/images/templates/gray-blocks/nav-arrow-r.gif');
}

.navigation_sidebar_widget > ul > li > ul a.active.children,
.navigation_sidebar_widget > ul > li > ul a.children:hover {
    background-image: url('/core/images/templates/gray-blocks/nav-arrow-r.gif');
}

.navigation_sidebar_widget > ul > li > ul a.expanded {
    background-image: url('/core/images/templates/gray-blocks/nav-arrow-d.gif');
}

.navigation_sidebar_widget > ul > li > ul a.expanded.children,
.navigation_sidebar_widget > ul > li > ul a.expanded:hover {
    background-image: url('/core/images/templates/gray-blocks/nav-arrow-d.gif');
    background-position: 17px 10px;
}
/* Nav styles - second level only */
.navigation_sidebar_widget > ul > li > ul > li > a {
    padding: 5px 5px 5px 30px;
    background-position: 17px 9px;
}
/* Nav styles - third level only */
.navigation_sidebar_widget > ul > li > ul > li > ul > li > a {
    padding: 5px 5px 5px 38px;
    background-position: 25px 9px;
}

.navigation_sidebar_widget > ul > li > ul > li > ul > li > a.expanded.children {
    background-position: 25px 9px;
}
/* Nav styles - fourth level only */
.navigation_sidebar_widget > ul > li > ul > li > ul > li > ul > li > a {
    padding: 5px 5px 5px 46px;
    background-position: 33px 9px;
}
/* Nav styles - fifth level and beyond */
.navigation_sidebar_widget > ul > li > ul > li > ul > li > ul > li ul {
    display: none;
}

.navigation_sidebar_widget a {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
}
/* End nav styles */




.widget_title, .widget_more, .widget_city_scroll {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
}


/* Open Sign Desktop */
.top-contact {
    color: #074368;
    float: right;
    height: 65px;
    position: relative;
    width: 362px;
    margin: 20px 0 8px 0;
}

.tagline {
    color: #373737;
    font: 19px/20px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    overflow: visible;
    padding: 8px 0 0 22px;
    position: absolute;
}

.tagline a {
    color: #10548E;
}

.phonehead, .offline {
    font: bold 35px/36px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 40px;
    left: 32px;
    padding: 0 0 0 5px;
    position: absolute;
    text-align: center;
    top: 30px;
    color: #074368;
    display: block;
}

.opensign {
    color: #D33127;
    float: right;
    height: 65px;
    position: relative;
    width: 400px;
    margin: 35px 0;
    background: transparent url(/core/images/templates/gray-blocks/open-sign.png) no-repeat 0 3px;
}

.opensign .tagline {
    padding: 8px 0 0 90px;
}

.opensign .phonehead {
    left: 95px;
}

.footer {
    border-top: 5px solid #CACACA;
}



/*  Fixes to  toolbox */

.breakout {
    width: 42.4%;
}

.gallery {
    width: 45%;
}

.gallery ul li:first-child {
    width: 100%;
}

.gallery ul li {
    width: 32%;
    margin-right: 4px;
    margin-top: 5px !important;
}

@media all and (max-width: 820px) {
    .gallery ul li {
        width: 31%;
    }
}

@media all and (max-width: 580px) {

    .gallery ul li:first-child {
        display: block;
    }

    .gallery ul li {
        display: none;
    }
}

@media all and (max-width: 320px) {
    .product-gallery {
        display: none;
    }
}

.product_showcase {
    width: 48%;
}

.product_showcase li {
    width: 32%;
}

.product_showcase li .caption {
    font-size: 12px;
    width: 100%;
}

@media all and (max-width: 930px) {
    .product_showcase li {
        width: 30%;
    }
}

@media all and (max-width: 685px) {
    .product_showcase {
        width: 100%;
    }

    .product_showcase li {
        width: 30%;
    }

    .product_showcase li .caption {
        text-align: left;
        font-size: 11px;
    }
}

.expandable_gallery {
    width: 95%;
}

.expandable_gallery .items {
    width: 100%;
}

.expandable_gallery .items a, .expandable_gallery .items_collapsed a {
    margin: 10px 5px 37px 25px;
}

.headers {
    width: 100%;
    float: right;
    margin-right: 0;
}

#carousel .ui-widget-header {
    height: 50px;
}

.related_pages_wrapper {
    width: 100%;
}

 /* End Toolbox Fixes */

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], 
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    height: 1.6125em;
}


 /* Broadcast Widget Fix */

.broadcast_template3 {
    background: #f1e767;
    background: -moz-linear-gradient(top, #fcf2b8 0%, #fad981 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf2b8), color-stop(100%, #fad981));
    background: -webkit-linear-gradient(top, #fcf2b8 0%, #fad981 100%);
    background: -o-linear-gradient(top, #fcf2b8 0%, #fad981 100%);
    background: -ms-linear-gradient(top, #fcf2b8 0%,#fad981 100%);
    background: linear-gradient(top, #fcf2b8 0%, #fad981 100%);
}

.broadcast_spacer {
    height: 88px;
}

.broadcast_template2 h2, .broadcast_template3 h2 {
    color: #d10f0f;
}

.broadcast h2 {
    font-size: 0.9em !important;
}

.broadcast_template3 {
    width: 100%;
    padding: 4px 0;
    text-align: center;
    position: absolute;
    top: 0;
}

@media all and (max-width: 770px) {
 
    .broadcast_template3 {
        top: 45px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 400px) {
 
    .broadcast h2 {
        font-size: 0.7em !important;
    }
}

/***Widget Page Fixes***/

.module, .widget {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 13px;
    line-height: 19px;
}

.before_after_images, .before_after_description p, 
.before_after_description p, .before_after_item h2 {
    width: 90%;
}

.before_after_image_left, .before_after_image_right {
    width: 45%;
}

.video_details_video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video_details_video iframe, .video_details_video object, .video_details_video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#search_box_input {
    font-family: inherit;
    border: 1px inset;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    font-style: italic;
    width: 200px;
    vertical-align: bottom;
    line-height: inherit;
}

nav.tab-bar {
    background: #3498db;
}

section.left-small {
    border-right: solid 1px #2980b9;
    box-shadow: 1px 0 0 #1D86E7;
    left: 0;
}

@media only screen and (max-width: 470px) {
 
    .breakout {
        width: 100% !important;
    }
}